# --- DEPENDENCIES ---
node_modules/
/jspm_packages/

# --- BUILD & OUTPUT ---
dist/
dist-ssr/
*.tsbuildinfo

# --- LOGS ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- TESTING ---
/coverage/
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# --- ENVIRONMENT & SECRETS ---
.env
.env.*
!.env.example
*.local

# --- VITE & TOOLS ---
.eslintcache
*.timestamp-*-*.mjs
.vite/

# --- IDE & SYSTEM ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
